###############################################################################
# Build Directories
###############################################################################

build/
obj/

###############################################################################
# Compiled Objects
###############################################################################

*.o
*.obj

###############################################################################
# Executables
###############################################################################

*.exe
*.elf
*.bin
*.hex
*.map

###############################################################################
# Debug Files
###############################################################################

*.d
*.su

###############################################################################
# VS Code
###############################################################################

.vscode/

###############################################################################
# Operating System Files
###############################################################################

Thumbs.db
.DS_Store